<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Carousel</a>

            <ul class="navbar-nav mr-auto" *ngIf="loggedIn">
                <li class="nav-item">
                    <a class="nav-link" href="#">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" href="#">Logout</a>
                </li>
            </ul>

            <div *ngIf="loggedIn" class="dropdown" dropdown>
                <a class="dropdown-toggle text-light" dropdownToggle>Welcome User</a>
                <div class="dropdown-menu" *dropdownMenu="">
                    <a class="dropdown-item">Edit profile</a>
                    <a class="divider dropdown-divider"></a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>

            <form *ngIf="!loggedIn" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
                <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="search"
                    placeholder="Username" aria-label="Search">
                <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="search"
                    placeholder="Password" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
        </div>
    </div>
</nav>